div {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 20px;
    width: 150px;
}

.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}